<div class="signInContainer">
    <h2>Admin Sign in</h2>

    <form action="/admin" method="POST">
        <label for="username">Username :</label>
        <input type="text" placeholder="Enter username" name="username">

        <label for="password">Password : </label>
        <input type="password" placeholder="Enter password" name="password">

        <input id="loginBtn" type="submit" value="Login">
    </form>
</div>