<a href="/dashboard">&larr; Back</a>
<h1>Create new Post</h1>
<form action="/new-post" method="POST">
    <label for="title">Title</label>
    <input type="text" placeholder="Title" name="title">
    <label for="content">Content</label>
    <textarea name="content" cols="50" rows="10" placeholder="Add content here"></textarea>

    <input class="adminBtn" type="submit" value="Add">

</form>