<div class="signInContainer">
    <h2>Register</h2>

    <form action="/admin/register" method="POST">
        <label for="username">Username :</label>
        <input type="text" placeholder="Enter username" name="username">

        <label for="password">Password : </label>
        <input type="password" placeholder="Enter password" name="password">

        <input class="adminBtn" type="submit" value="Signup">
    </form>
    <p>Already have an account? <a class="link" href="/admin">Login here</a></p>
</div>