<footer>
    <div class="socials">
        <a href="https://github.com/Jailorx" target="_blank"><img src="/images/github-icon.svg" alt="github_logo"></a>
        <a href="https://www.linkedin.com/in/shubham-bisht-63a996202/" target="_blank"><img
                src="/images/linkedin-icon.svg" alt="linkedin_logo"></a>
    </div>
    &copy; 2024 - Shubham Bisht &#x2022; Build with Nodejs and MongoDB
</footer>