<header>
    <a id="logo" href="/">Website logo</a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    <button class="logoutBtn">
        <a id="logout" href="/logout">
            Logout
        </a>
    </button>

</header>