<div class="searchBar">
    <div class="searchBar_container">
        <form class="search_form" action="/search" method="POST">
            <input id="searchInput" type="search" aria-label="Search" placeholder="Search for article">
        </form>

    </div>
</div>