<div class="searchBar">
    <div class="searchBar_container">
        <form class="search_form" action="/search" method="POST">
            <input id="searchInput" type="search" name="searchTerm" aria-label="Search"
                placeholder="Search for article">
        </form>

    </div>
</div>