<section>
    <h2>Latest Posts</h2>

    <ul class="article_list">
        <% posts.forEach(post=> { %>

            <li class="article">
                <a href="pid/<%=post._id %>">
                    <span id="title">
                        <%=post.title %>
                    </span>
                    <span id="date">
                        <%=post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>

            <% }) %>


    </ul>

    <% if (nextPage!==null) { %>
        <a href="/?page=<%=nextPage %>" class="pagination">&lt; View Older Posts</a>
        <% } %>


</section>