<section>
    <h2 class="articles">Latest Posts</h2>
    <ul class="articlesList">
        <li class="article">
            <a href="#">
                <span>Title</span>
                <span id="date">Post Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>