<section>
    <h2>Latest Posts</h2>

    <ul class="article_list">
        <% posts.forEach(post=> { %>

            <li class="article">
                <a href="#">
                    <span id="title">
                        <%=post.title %>
                    </span>
                    <span id="date">
                        <%=post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>

            <% }) %>


    </ul>


    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>