@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: beige;
}

a {
  color: black;
  text-decoration: none;
}
main {
  margin: 0 200px;
}

section h2 {
  margin-left: 45px;
}

.article_list {
  /* margin: 0; */
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.article {
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.article a {
  display: flex;
  justify-content: space-between;
}
#title {
  max-width: 60%;
  font-size: 20px;
  font-weight: 400;
}
#date {
  max-width: 30%;
  font-size: 14px;
  font-weight: 200;
  font-color: grey;
}
.pagination {
  font-size: 1.3rem;
  color: grey;
  text-decoration: none;
  margin-top: 40px;
}

.pagination:hover {
  color: black;
}

.logoutBtn {
  padding: 10px;
  background-color: black;
  color: beige;
  font-weight: 600;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logoutBtn:hover {
  transform: scale(1.2);
}

.signInContainer {
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

textarea {
  resize: none;
}

.adminBtn {
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: black;
  color: beige;
  cursor: pointer;
}
.link {
  font-weight: 600;
  color: blue;
}
.subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin_article {
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.controls_Btn {
  border: black;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
  color: beige;
  cursor: pointer;
}

#delete {
  background-color: red;
  border: none;
}
